---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/DocsLayout.astro";
const allPosts = await getCollection("dev");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout pageTitle="Etiquetas | UEFP">
  <h1>Etiquetas</h1>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2">
    {
      tags.map((tag) => (
        <a
          href={`/es/tags/${tag}`}
          class="w-full no-underline rounded border-2 border-red-500 px-4 py-2 hover:bg-red-500 shadow-xl hover:shadow-red-500/30 transition-all"
        >
          <p class="capitalize text-black dark:text-white">
            {tag}
          </p>
        </a>
      ))
    }
  </div>
</BaseLayout>
