---
import NavLinkDocs from "./NavLinkDocs.astro";
import { FaHouse, FaX, FaTag, FaBars, FaRightToBracket } from "react-icons/fa6";
import { getLangFromUrl } from "../../i18n/utils";
import { Image } from "astro:assets";
const lang = getLangFromUrl(Astro.url)
import UEFPblanco from "../../assets/logos/UEFPescudoblanco.png"
import UEFPblack from "../../assets/logos/UEFPescudoblack.png"
---

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const html = document.querySelector("html");
    const img = document.getElementById("logo");
    const updateImageSrc = () => {
      if (html.classList.contains("dark")) {
        img.src = UEFPblanco;
      } else {
        img.src = UEFPblack;
      }
    };
    updateImageSrc();
    const observer = new MutationObserver((mutationsList) => {
      for (let mutation of mutationsList) {
        if (mutation.attributeName === "class") {
          updateImageSrc();
        }
      }
    });
    observer.observe(html, { attributes: true });
    window.addEventListener("beforeunload", () => {
      observer.disconnect();
    });
  });
</script>
<header
  class="[grid-area:header] sticky text-sm md:text-base px-2 top-0 h-20 w-full bg-zinc-100 dark:bg-zinc-900 flex justify-between items-center z-10 shadow-xl md:shadow-none shadow-red-500/10"
>
  <div class="h-full w-full flex items-center justify-between gap-x-4 px-8">
    <div class="flex items-center justify-start gap-1">
      <a href="/" class="w-full h-full">
        <Image
          id="logo"
          class="h-14 w-24 p-0 m-0 sm:h-20 sm:w-fit object-contain"
          src={UEFPblanco}
          alt="Escudo de la unidad educativa fiscal pichincha"
          height={120}
          width={120}
          quality="high"
          format="webp"
        />
      </a>
      <h2 class="hidden md:block no-underline text-sm sm:text-2xl">Docs</h2>
    </div>
    <div class="w-full">
      <nav>
        <ul
          class="list-none flex items-center justify-center gap-x-2 md:gap-x-4"
        >
          <li>
            <a
              href={`/${lang}/`}
              class="flex gap-1 items-center text-sm md:text-base text-red-600 dark:text-red-300 px-2 md:px-4 py-1 no-underline rounded hover:shadow-xl hover:bg-zinc-300 dark:hover:bg-zinc-950 text-none sm:text-sm transition-all"
              >
              <FaRightToBracket/>
              {lang === "es" ? "Regresar" : "Back"}
              </a
              >
            </li>
          <li>
            <a
              href={`/${lang}/docs`}
              class="flex gap-1 items-center text-sm md:text-base text-red-600 dark:text-red-300 px-2 md:px-4 py-1 no-underline rounded hover:shadow-xl hover:bg-zinc-300 dark:hover:bg-zinc-950 text-none sm:text-base transition-all"
              >
              <FaHouse/>
              {lang === "es" ? "Inicio" : "Home"}
              </a
              >
            </li>
            <li>
              <a
              href={`/${lang}/tags`}
              class="flex gap-1 items-center text-sm md:text-base text-red-600 dark:text-red-300 px-2 md:px-4 py-1 no-underline rounded hover:shadow-xl hover:bg-zinc-300 dark:hover:bg-zinc-950 text-none sm:text-sm transition-all"
              >
              <FaTag/>
              {lang === "es" ? "Etiquetas" : "Tags"}
              </a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="bg-zinc-100 dark:bg-zinc-900 hover:bg-zinc-200 dark:hover:bg-zinc-950/50 active:bg-zinc-300 dark:active:bg-zinc-950 p-1 mr-4 md:mr-8 block md:hidden transition-all">
    <button id="menu" class="block md:hidden">
      <FaBars className="text-2xl md:text-4xl text-black dark:text-white" />
    </button>
  </div>
</header>
<div id="menu-bar" class="menu-bar transition-all">
  <div class="block md:hidden">
    <button id="menu-close">
      <FaX />
    </button>
    <NavLinkDocs />
  </div>
</div>

<style>
  .menu-bar.isOpen {
    @apply bg-zinc-100 z-30 dark:bg-zinc-900 p-4 fixed top-0 right-0 w-2/3 h-[100dvh] md:flex md:h-28 md:w-max translate-x-0 md:items-center;
  }
  .menu-bar {
    @apply bg-zinc-100 z-30 dark:bg-zinc-950 fixed top-0 translate-x-full right-0 w-1/2 h-[100dvh] md:flex md:h-28 md:w-max md:items-center;
  }
</style>
<script>
  document.addEventListener("astro:page-load", () => {
    const menu = document.getElementById("menu");
    menu?.addEventListener("click", () => {
      const menuBar = document.getElementById("menu-bar");
      menuBar?.classList.add("isOpen");
    });
    const menuClose = document.getElementById("menu-close");
    menuClose?.addEventListener("click", () => {
      const menuBar = document.getElementById("menu-bar");
      menuBar?.classList.remove("isOpen");
    });
  });
</script>
