---
import { getCollection } from "astro:content";
import { getLangFromUrl } from "../../i18n/utils";
const url = Astro.url;
const lang = getLangFromUrl(url);
const allPosts = await getCollection("dev");
const {path} = Astro.props
console.log(allPosts);
const filterPost = allPosts.filter((post) => {
  const id = post.id
  return id.includes(path)
})
---

<nav>
  <ul>
    {
      filterPost.map((post) => (
        <li>
          <a class="font-Kanit font-light no-underline" href={`/${lang}/docs/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</nav>
