---
import { getCollection } from "astro:content";
import { getLangFromUrl } from "../../i18n/utils";
const url = Astro.url;
const lang = getLangFromUrl(url);
const allPosts = await getCollection("dev");
const { path } = Astro.props;
const filterPost = allPosts.filter((post) => {
  const id = post.id;
  return id.includes(path);
});
---

<nav>
  <ul class="list-none flex flex-col gap-y-4 border-l border-red-200">
    {
      filterPost.map((post) => (
        <li>
          <a
            class="font-Kanit font-light no-underline hover:text-zinc-500 transition-colors"
            href={`/${lang}/docs/${post.slug}`}
            transition:animate="fade"
            transition:name={`title ${post.id}`}
          >
            {" "}
            <span class="select-none">{post.data.title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
