---
import NavigateDocs from "./NavigateDocs.astro";
---

<h2 class="no-underline text-xl border-b border-red-500 mt-2 my-4">Guias de usuario</h2>
<NavigateDocs path="user"/>
<h2 class="no-underline text-xl border-b border-red-500 mt-2 my-4">Como empezar</h2>
<NavigateDocs path="started"/>