---
import NavigateDocs from "./NavigateDocs.astro";
---

<h2 class="no-underline text-xl border-b border-red-500 mt-2 my-4">Comienza aqui</h2>
<NavigateDocs path="started"/>
<h2 class="no-underline text-xl border-b border-red-500 mt-2 my-4">Configuracion</h2>
<NavigateDocs path="config"/>