* {
  scrollbar-width: thin;
  scrollbar-color: white #27272a ;
}
*::selection {
  background-color: #ef4444;
  color: #fafafa;
}
html {
  color-scheme: light dark;
  scrollbar-color: #27272a white;
  scrollbar-width: thin;
  font-family: "Kanit", "Rubik", sans-serif;
}
html.dark {
  scrollbar-width: thin;
  scrollbar-color: white #27272a;
  font-family: "Kanit", "Rubik", sans-serif;
}
.grid-layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 
  "header header"
  "aside main";
}
@media (max-width: 768px) {
  .grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main";
  }
}
input {
  border: none;
}
h1 {
  text-align: center;
  font-size: clamp(2em, 2vw + 1em, 2.2em);
  font-weight: bold;
  text-shadow: 0px 0px 10px #fff5;
  text-decoration: underline;
  padding: 0.1em 0em;
  @apply decoration-2 decoration-red-500;
}
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  text-align: start;
  text-shadow: 0px 0px 10px #fff5;
  padding: 0.5em 0em;
}
h2 {
  font-weight: 800;
  font-size: clamp(1.8em, 2vw + 1em, 2em);
}
h3 {
  font-weight: 600;
  font-size: clamp(1.4em, 2vw + 1em, 1.7em);
}
h4 {
  font-weight: 500;
  font-style: italic;
  font-size: clamp(1.3em, 2vw + 1em, 1.5em);
}
h5 {
  font-weight: 400;
  font-style: italic;
  font-size: clamp(1em, 2vw + 1em, 1.3em);
}
h6 {
  font-weight: 300;
  font-style: oblique;
  font-size: clamp(0.8em, 2vw + 1em, 1.2em);
}
p {
  font-weight: 300;
  font-size: clamp(1rem, .3vw + 1rem, 1.1rem);
}
a {
  font-weight: 600;
  color: #fafafa;
  text-decoration: underline;
  text-decoration-color: #ef4444;
  text-shadow: 0px 0px 10px #0af2;
}

strong {
  text-shadow: 0px 0px 10px #fff5;
}
img {
  margin: 0.5em auto;
  width: 100%;
  max-width: 100%;
  max-height: 25em;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
#cover-img {
  margin: 0.5em auto;
  width: max-content;
  max-width: 100%;
  max-height: 20em;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
ul {
  list-style-type: disc;
  padding: 0em 1em;
}
li {
  font-size: clamp(1rem, .3vw + 1rem, 1.2rem);
}