---
import CardInfo from "../../components/CardInfo.astro";
import Navigation from "../../components/Navigation.astro";
import Layout from "../../layouts/Layout.astro";
import SelectOption from "../../components/SelectOption";
import Objectives from "../../components/sections/Objectives";
import PeopleCard from "../../components/sections/PeopleCard";
import { FaPen, FaStar } from "react-icons/fa6";
import Footer from "../../components/Footer.astro";
import { Wave, IlustrationPerson } from "../../icons/Icons";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Meet Our Staff | Important Information" description="Discover and learn about the qualified personnel dedicated to providing quality education" keywords="About us, Our Team, Student Preparation" icon="/imgs/UEFPescudoblanco.png">
  <Navigation />
  <main class="h-full bg-zinc-400 dark:bg-zinc-900">
    <section class="h-screen">
      <div class="absolute -bottom-28 w-full">
        <Wave className={"fill-zinc-200 dark:fill-zinc-800"} />
      </div>
      <div
        class="grid lg:grid-cols-2 place-content-center font-Rubik h-full px-8"
      >
        <div class="flex flex-col p-4 gap-y-4 justify-center">
          <h2 class="text-5xl font-bold animate-blurred-fade-in">
            {t("about-hero-title")}
          </h2>
          <p class="animate-fade-in-up">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            voluptatem quibusdam cum quisquam repudiandae minus ea eligendi
            ratione distinctio eos, iste officia. Cum ut fugiat odit aspernatur
            doloribus. Ullam, quis! Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Nisi dolore doloribus error sunt sapiente illo,
            mollitia accusantium earum. Perferendis porro culpa vitae id nihil
            distinctio, incidunt eos atque est soluta.
          </p>
        </div>
        <div class="flex py-12 justify-center items-center h-full">
          <IlustrationPerson />
        </div>
      </div>
    </section>
    <section class="bg-zinc-200 dark:bg-zinc-800 h-max">
      <div class="p-4">
        <h3 class="text-6xl font-Rubik font-bold text-center">
          {t("nuestra-historia-title")}
        </h3>
        <div class="h-full">
          <CardInfo
            alt="History img 1"
            text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatem quibusdam cum quisquam repudiandae minus ea eligendi ratione distinctio eos, iste officia. Cum ut fugiat odit aspernatur doloribus. Ullam, quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi dolore doloribus error sunt sapiente illo, mollitia accusantium earum. Perferendis porro culpa vitae id nihil distinctio, incidunt eos atque est soluta."
            title="Desde los inicios"
            img="/public/imgs/pexels-designecologist-1779487.jpg"
          />
          <CardInfo
            alt="History img 2"
            invert
            text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatem quibusdam cum quisquam repudiandae minus ea eligendi ratione distinctio eos, iste officia. Cum ut fugiat odit aspernatur doloribus. Ullam, quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi dolore doloribus error sunt sapiente illo, mollitia accusantium earum. Perferendis porro culpa vitae id nihil distinctio, incidunt eos atque est soluta."
            title="Desde los inicios"
            img="/public/imgs/pexels-designecologist-1779487.jpg"
          />
        </div>
      </div>
      <div
        class="absolute bottom-0 bg-white/20 h-96 w-96 rounded-full blur-3xl"
      >
      </div>
    </section>
    <section class="relative bg-zinc-200 dark:bg-zinc-800 pt-10">
      <div
        class="absolute right-0 bottom-0 bg-yellow-400/10 h-96 w-96 rounded-full blur-3xl"
      >
      </div>
      <div class="w-full">
        <h3 class="font-Rubik text-5xl text-center font-bold py-4">
          {t("valores-title")}
        </h3>
      </div>
      <div class="h-full py-8 bg-black/10 p-8">
        <SelectOption client:load />
      </div>
    </section>
    <section class="relative bg-zinc-200 dark:bg-zinc-800 pt-10">
      <div class="w-full">
        <h3 class="font-Rubik text-5xl text-center font-bold py-4">
          {t("objectivos-title")}
        </h3>
      </div>
      <div class="h-full py-8 bg-black/10 p-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <Objectives
            title={"Ejercer estudiantes"}
            text={"Preparar estudiantes para que tenga las aptitudes adecuadas para el mundo laboral"}
            color={"pink"}
            client:load
          >
            <FaPen />
          </Objectives>
          <Objectives
            title={"Mejorar estudiantes"}
            text={"Preparar estudiantes para que tenga las aptitudes adecuadas para el mundo laboral"}
            color={"green"}
            client:load
          >
            <FaStar />
          </Objectives>
          <Objectives
            title={"Estudios de calidad"}
            text={"Preparar estudiantes para que tenga las aptitudes adecuadas para el mundo laboral"}
            color={"sky"}
            client:load
          >
            <FaPen />
          </Objectives>
        </div>
      </div>
      <div class="w-full">
        <h3 class="font-Rubik text-5xl text-center font-bold py-4">
          {t("nuestro-equipo-title")}
        </h3>
      </div>
      <div class="h-full py-8 bg-black/10 p-8">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 bg-zinc-100 dark:bg-zinc-900 p-4"
        >
          <PeopleCard
            teacher={"Msc. Rober Villagomez"}
            content={"Declaraciones aqui"}
            work={"Rector de la institución"}
          />
          <PeopleCard
            teacher={"Msc. Pablito"}
            content={"Declaraciones aqui"}
            work={"Prueba"}
            img="/imgs/persona.jpg"
          />
          <PeopleCard
            teacher={"Ing. Alisa Fuentes"}
            content={"Declaraciones aqui"}
            work={"Prueba"}
            img="/imgs/programacion.jpeg"
          />
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
