---
import Navigation from "../../components/Navigation.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import ContacsForm from "../../components/sections/ContacsForm";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const url = Astro.url;
const urlStr = url.toString();
const lang = getLangFromUrl(url)
const t = useTranslations(lang)
---
<script>
  import ScrollReveal from "scrollreveal";
  ScrollReveal().reveal(".title", {
    opacity: 0,
    origin: "bottom",
    distance: "30%",
    reset: false,
    duration: 500,
  });
</script>
<Layout title="Contactos" icon="/imgs/UEFPescudoblanco.png">
  <Navigation />
  <div
    class="h-[90vh] grid grid-cols-1 lg:grid-cols-2 p-4 lg:p-8 place-content-center"
  >
    <div
      class="border-2 border-red-500 p-6 shadow-2xl hover:translate-y-1 hover:bg-red-500 transition-all"
    >
      <img src="/imgs/ciudad.jpg" alt="" />
    </div>
    <div class="font-Rubik p-4 lg:p-12">
      <h2
        class="text-4xl lg:text-6xl font-bold text-center lg:text-start animate-slide-in-bottom"
      >
        {t("contacts-title-hero")}
      </h2>
      <div
        class="bg-gradient-to-r from-red-500 to-pink-500/30 h-0.5 w-full lg:w-1/2 my-2 rounded"
      >
      </div>
      <p
        class="text-gray-800 dark:text-gray-400 text-center text-base lg:text-start lg:text-xl py-4 text-pretty animate-blurred-fade-in animate-delay-300"
      >
      {t("contacts-text-hero")}
      </p>
    </div>
  </div>
  <main class="bg-zinc-300 contact dark:bg-zinc-950 h-full w-full">
    <h2
      class="title text-4xl lg:text-5xl font-bold font-Rubik text-center pt-8"
    >
    {t("contacts-title-form")}
    </h2>
    <div
      class="mx-auto bg-gradient-to-r from-red-500 to-pink-500/30 h-0.5 w-2/3 lg:w-1/2 my-2 rounded"
    >
    </div>
    <section
      class="container mx-auto grid-cols-1 md:grid-cols-2 grid place-content-center p-4"
    >
      <div
        class="text-black dark:text-white rounded p-4 h-max w-full bg-zinc-100/50 dark:bg-zinc-900/10 backdrop-blur-xl"
      >
        <ContacsForm url={url} urlStr={urlStr} client:load />
      </div>
      <div class="grid place-content-center h-full w-full">
        <img
          src="/imgs/Email.png"
          alt=""
          class="h-72 w-full object-cover aspect-auto animate-pulse animate-iteration-count-infinite"
        />
      </div>
    </section>
  </main>
  <Footer />
</Layout>
