---
import Navigation from "../../components/Fundamentales/Navigation.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Fundamentales/Footer.astro";
import ContacsForm from "../../components/sections/ContacsForm";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { FaLocationDot } from "react-icons/fa6";
const url = Astro.url;
const urlStr = url.toString();
const lang = getLangFromUrl(url);
const t = useTranslations(lang);
---

<script>
  import ScrollReveal from "scrollreveal";
  ScrollReveal().reveal(".title", {
    opacity: 0,
    origin: "bottom",
    distance: "30%",
    reset: false,
    duration: 500,
  });
</script>
<Layout title="Contactos" icon="/imgs/UEFPescudoblanco.png">
  <Navigation />
  <div
    class="h-full grid grid-cols-1 lg:grid-cols-2 p-4 lg:p-8 place-content-center"
  >
    <div
      class="flex justify-center border-2 border-red-500 shadow-2xl hover:translate-y-1 hover:bg-red-500 transition-all animate-slide-out-bottom m-8"
    >
      <img
        src="/imgs/ciudad.jpg"
        alt=""
        class="object-cover w-full h-full p-4 aspect-video object-center"
      />
    </div>
    <div class="font-Rubik p-4 lg:p-12">
      <h2
        class="text-4xl lg:text-6xl font-bold text-center lg:text-start animate-slide-in-bottom"
      >
        {t("contacts-title-hero")}
      </h2>
      <div
        class="bg-gradient-to-r from-red-500 to-pink-500/30 h-0.5 w-full lg:w-1/2 my-2 rounded"
      >
      </div>
      <p
        class="text-gray-800 dark:text-gray-400 text-center text-base lg:text-start lg:text-xl py-4 text-pretty animate-blurred-fade-in animate-delay-300"
      >
        {t("contacts-text-hero")}
      </p>
      <div class="flex justify-center lg:justify-start">
        <a
          href="https://www.google.com/maps/place/Unidad+Educativa+Fiscal+Pichincha/@-0.2082385,-78.5205527,18.88z/data=!4m6!3m5!1s0x91d59bccd9463a83:0x4347f48344c3cd06!8m2!3d-0.2082454!4d-78.5198222!16s%2Fg%2F11c1wvwb7y?entry=ttu"
          target="_blank"
          class="bg-red-500 rounded-xl p-4 flex gap-x-2 items-center justify-center w-1/2 lg:w-max bg-gradient-to-br hover:from-red-500 hover:to-pink-500 text-white"
        >
          <FaLocationDot className="lg:text-xl" />
          <span class="text-center font-bold">View in Google Maps</span>
        </a>
      </div>
    </div>
  </div>
  <main class="bg-zinc-300 contact dark:bg-zinc-950 h-full w-full">
    <h2
      class="title text-4xl lg:text-5xl font-bold font-Rubik text-center pt-8"
    >
      {t("contacts-title-form")}
    </h2>
    <div
      class="mx-auto bg-gradient-to-r from-red-500 to-pink-500/30 h-0.5 w-2/3 lg:w-1/2 my-2 rounded"
    >
    </div>
    <section
      class="container mx-auto grid-cols-1 md:grid-cols-2 grid place-content-center p-4"
    >
      <div
        class="text-black dark:text-white rounded p-4 h-max w-full bg-zinc-100/50 dark:bg-zinc-900/10 backdrop-blur-xl"
      >
        <ContacsForm url={url} urlStr={urlStr} client:load />
      </div>
      <div class="grid place-content-center h-full w-full">
        <img
          src="/imgs/Email.png"
          alt=""
          class="email h-96 w-full object-cover aspect-auto animate-bouncing animate-duration-[10000] animate-iteration-count-infinite"
        />
      </div>
    </section>
  </main>
  <Footer />
</Layout>
<style>
  .email {
    filter: drop-shadow(0 0 50px #ef44ef7e);
  }
</style>
