---
import { getLangFromUrl } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";
const url = new URL(Astro.url);
const lang = getLangFromUrl(url);
---

<Layout title="Registrarse" icon="">
  <h1>Registrarse</h1>
  <p>¿Ya tienes una cuenta? <a href=`/${lang}/signin`>Iniciar sesión</a></p>
  <form action="/api/auth/register" method="post">
    <label for="email">Correo electrónico</label>
    <input type="email" name="email" id="email" />
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Iniciar sesión</button>
  </form>
</Layout>