---
import { Input } from "@nextui-org/react";
import Navigation from "../../components/Fundamentales/Navigation.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Fundamentales/Footer.astro";
import { getLangFromUrl } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url)
import { Toaster } from 'sonner'
const url = Astro.url
---
<Layout title="Register | UEFP">
  <Navigation />
  <Toaster/>
  <main class="w-full h-full bg-zinc-100 dark:bg-zinc-800 py-4 my-4">
    <section
      class="grid grid-cols-1 lg:grid-cols-2 bg-zinc-200 dark:bg-zinc-900 p-8 container mx-auto shadow-xl"
    >
      <div class="relative flex flex-col justify-center font-Rubik gap-y-4">
        <div class="h-24 w-72 bg-yellow-500/20 absolute rounded-full blur-xl -top-5 z-10"></div>
        <h1 class="text-5xl font-bold">Register</h1>
        <div
          class="h-1 my-2 w-1/2 bg-gradient-to-r from-red-500 via-orange-500 to-yellow-400 rounded-full"
        >
        </div>
        <p class="py-1">
          Do you already have an account? <a
            href=`/${lang}/signin`
            class="underline text-cyan-500">Log in</a
          >
        </p>
        <form id="form" action="/api/authEn/register" method="post" class="flex flex-col">
          <label for="email" class="font-bold">Username</label>
          <div
            class="h-1 my-2 w-1/3 bg-gradient-to-r from-red-500 via-orange-500 to-yellow-400 rounded-full"
          >
          </div>
          <Input
            isRequired
            type="text"
            name="name"
            id="name"
            placeholder="Juan Perez"
            className="my-2"
          />
          <label for="email" class="font-bold">Email</label>
          <div
            class="h-1 my-2 w-1/3 bg-gradient-to-r from-red-500 via-orange-500 to-yellow-400 rounded-full"
          >
          </div>
          <Input
            isRequired
            type="email"
            name="email"
            id="email"
            placeholder="example@gmail.com"
            className="my-2"
          />
          <label for="password" class="font-bold">Passwoed</label>
          <div
            class="h-1 my-2 w-1/3 bg-gradient-to-r from-red-500 via-orange-500 to-yellow-400 rounded-full"
          >
          </div>
          <Input
            isRequired
            type="password"
            name="password"
            id="password"
            placeholder="***********"
            className="my-2"
          />
          <button type="submit" class="bg-gradient-to-l from-red-500 via-orange-500 to-yellow-500 py-2 my-2 rounded-full text-white font-bold hover:shadow-lg hover:shadow-orange-500/70 transition-all">Register</button>
        </form>
      </div>
      <div class="flex items-center justify-center py-8">
        <img class="h-96" src="/svg/undraw_online_test_re_kyfx(1).svg" alt=""/>
      </div>
    </section>
  </main>
  <Footer />
</Layout>