---
interface Props {
    to: string,
    text: string,
    target?: boolean
}
const {to , text, target} = Astro.props
---
<a
  href={`${to}`}
  target={target ? "_blank" : "_self"}
  class="w-max text-start py-1 flex justify-center gap-x-2 font-Rubik font-bold text-zinc-800 dark:text-zinc-300 hover:text-zinc-900 dark:hover:text-zinc-400 hover:font-normal transition-all duration-200 ease-out"
>
  <slot/>
  {text}
</a>
