---
const {title = "Titulo",img,content = "Aqui va contenido",color} = Astro.props
---

<div class="p-4">
    <h2 class="text-3xl font-Kanit">{title }</h2>
    <div class={`h-1 rounded-full my-2 ${color}`}></div>
    <div class="grid grid-col-1 md:grid-cols-2">
        <div class="p-4 h-full w-full">
            <img src={img} alt="" class="h-full max-h-96 w-full object-cover aspect-square border shadow-xl bg-zinc-900">
        </div>
        <div class="p-4 flex flex-col items-center justify-center">
            <p class="font-Kanit text-xl md:text-2xl">{content}</p>
        </div>
    </div>
</div>