---
const { title, text } = Astro.props;

// Función para generar un color hexadecimal aleatorio
function getRandomColor() {
  const letters = '0123456789ABCDEF';
  let color = '#';
  for (let i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

// Generar el color aleatorio
const borderColor = getRandomColor();
---

<div class="bg-zinc-200 dark:bg-zinc-900 p-2 rounded font-Rubik" style={`border: 1px solid ${borderColor};box-shadow: 0px 10px 15px ${borderColor}22`}>
  <h2 class="text-center font-bold text-2xl">{title}</h2>
  <div class="h-0.5 bg-zinc-400 dark:bg-zinc-800 my-1"></div>
  <p class="font-light p-2">{text}</p>
</div>
