---
import { FaX } from "react-icons/fa6";
import { supabase } from "../../lib/supabase";

const { data } = await supabase.storage.from("galeria").list("");
console.log(data);
const imgsUrl = data?.map((file) => {
  const data = supabase.storage.from("galeria").getPublicUrl(file.name);
  const { publicUrl } = data.data;
  const newData = {
    publicUrl,
    ...file,
  };
  return newData;
});
---

<style>
  #modal-container {
    display: none;
    position: relative;
  }
  #modal-container.active {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 300ms ease-out;
  }
  #modal-container.active img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
</style>

<div
  class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 place-items-stretch gap-4 my-4 py-4 px-24"
>
  {
    imgsUrl && imgsUrl.length > 0 ? (
      imgsUrl.map((img: any) => (
        <div class="imagenes w-full h-max hover:-translate-y-2 rounded-lg shadow-2xl shadow-background hover:shadow-slate-800 transition-all">
          <img
            src={img.publicUrl}
            class="h-full w-full object-cover rounded"
            transition-name="modal-imagen"
            transition-animate={"fade"}
          />
        </div>
      ))
    ) : (
      <p class="text-center col-span-4">No se encuentran imagenes</p>
    )
  }
</div>
<div id="modal-container" class="hidden">
  <div
    id="close-modal"
    class="bg-transparent h-[100vh] w-[100vw] flex items-center justify-center"
  >
    <div class="bg-zinc-700 h-full w-max max-h-[90vh] shadow-2xl">
      <img
        id="modal-img"
        src=""
        class="rounded-lg"
        transition:name="modal-imagen"
        transition:animate="fade"
      />
    </div>
    <div class="absolute top-8 left-8">
      <button class="text-2xl">
        <FaX />
      </button>
    </div>
  </div>
</div>
<script>
  const modalContainer = document.getElementById(
    "modal-container"
  ) as HTMLElement | null;
  const closeModalButton = document.getElementById(
    "close-modal"
  ) as HTMLElement | null;
  const modalImage = document.getElementById(
    "modal-img"
  ) as HTMLImageElement | null;

  // Open modal when clicking an image
  document
    .querySelectorAll<HTMLImageElement>(".imagenes img")
    .forEach((image) => {
      image.addEventListener("click", () => {
        modalContainer?.classList.add("active");
        if (modalImage) {
          modalImage.src = image.src; // Set modal image source
        }
      });
    });

  // Close modal when clicking close button or outside the modal content (optional)
  closeModalButton?.addEventListener("click", () => {
    modalContainer?.classList.remove("active");
  });

  document.addEventListener("click", (event) => {
    if (event.target === modalContainer) {
      modalContainer?.classList.remove("active");
    }
  });
</script>
