---
import DocsLayout from "../../../layouts/DocsLayout.astro";
import LinksContainer from "../../../components/docs/LinksContainer.astro";
import LinkCard from "../../../components/docs/LinkCard.astro";
import x from "../../../assets/userDocs/banner.png"
import { Image } from "astro:assets";
---

<DocsLayout pageTitle="Documentación | UEFP" icon="/imgs/UEFPescudoblanco.png">
  <h1>Documentación</h1>
  <Image id="cover-img" alt="Imagen sobre la documentacion de la  UEFP" src={x} loading="lazy"/>
  <p>
    Bienvenidos a la documentacion sobre la unidad educativa fiscal pichincha,
    aquí encontraras información de utilidad para entender como funciona la
    página.
  </p>
  <h2>Para el usuario</h2>
  <p>
    Se a preparado una guia para el usuario de como manejar responsablemente la
    web, para no causar problemas en su mantenimiento
  </p>
  <p>
    Para mas información visita la seccion <strong>Sobre el usuario</strong> para
    conocer mas información
  </p>
  <h2>Para los desarrolladores</h2>
  <p>
    A los desarolladores se les proporcionará información mas detallada ademas
    de conceptos que se deben tener en cuenta para el mantenimiento de la web,
    aportando con mejoras, correcciones, etc.
  </p>
  <p>
    Visita las diferentes secciones para el desarrollador donde encontraras
    informacion util
  </p>
  <LinksContainer>
    <LinkCard title="Para el usuario" text="Como empezar" destiny="iniciar" content="user"/>
    <LinkCard title="Para el desarrollador" text="Conoce mas" destiny="dev" content="started"/>
  </LinksContainer>
</DocsLayout>
