---
import ThemeIcon from "../../../components/ChangeUI/ThemeIcon.astro";
import DashBoardBase from "../../../layouts/DashBoardBase.astro";
import NavDashboard from "../../../components/dashboard/NavDashboard";
import { supabase } from "../../../lib/supabase";
const url = Astro.url
const { cookies, redirect } = Astro;
const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/es/signin");
}
const { data: dataUser, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});
if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/es/signin");
}
const {user} = dataUser
---
<DashBoardBase
  title="Configura tu perfil aqui | UEFP"
  icon="/imgs/UEFPescudoblanco.png"
>
  <main class="dashboard bg-zinc-800">
    <div
      class="bg-zinc-200 dark:bg-zinc-900 h-full w-full [grid-area:aside] boxshadow"
    >
      <NavDashboard url={url} client:load={true}>
        <ThemeIcon />
      </NavDashboard>
    </div>
    <div>
      
    </div>
  </main>
</DashBoardBase>
<style>
  .dashboard {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "aside main";
  }
  @media (max-width: 1024px) {
    .dashboard {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 96px 1fr;
      grid-template-areas:
        "aside"
        "main";
    }
  }
</style>
