---
import ThemeIcon from "../../../components/ChangeUI/ThemeIcon.astro";
import NavDashboard from "../../../components/dashboard/NavDashboard";
import ChangeForm from "../../../components/dashboard/ChangeForm";
import ViewData from "../../../components/dashboard/Inicio/ViewData.astro";
import DashBoardBase from "../../../layouts/DashBoardBase.astro";
import { supabase } from "../../../lib/supabase";
import UploadFileForm from "../../../components/dashboard/UploadFileForm.astro";
import VideoPlayer from "../../../components/Utils/VideoPlayer.astro";
const { cookies, redirect } = Astro;
const url = Astro.url;
const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/es/signin");
}
const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});
if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/es/signin");
}
const { data: userData } = await supabase
  .from("profiles")
  .select("*")
  .eq("id", data.user?.id);
const roles: string[] = (userData && userData[0]?.roles) || [];
roles;
const { data: dataFile } = supabase.storage.from('recursos').getPublicUrl('videos/inicial.mp4')
const videoData = dataFile.publicUrl
const videoSplit = videoData.split(".mp4")
const video = videoSplit[0]
---

<!-- <ThemeIcon/> -->
<DashBoardBase title="Dashboard | Panel de control" icon="">
  <main class="dashboard">
    <div
      class="bg-zinc-200 dark:bg-zinc-900 h-full w-full [grid-area:aside] boxshadow"
    >
      <NavDashboard url={url} client:load={true}>
        <ThemeIcon />
      </NavDashboard>
    </div>
    <div
      class="p-4 bg-zinc-50 overflow-y-auto dark:bg-zinc-800 w-full h-full [grid-area:main] font-Rubik"
    >
      <section class="flex">
        <div class="flex flex-col items-center p-4 w-full">
          <div class="w-full">
            <h2 class="text-center text-4xl lg:text-6xl font-extrabold py-4">
              Página inicial
            </h2>
            <div
              class="h-1 mx-auto rounded w-full lg:w-1/2 bg-gradient-to-r from-green-500 to-yellow-500"
            >
            </div>
          </div>
          {
            roles.includes("admin") ? (
              <p class="text-light font-Rubik text-zinc-800 dark:text-zinc-300 p-4">
                En esta sección se manera el cambio de los diferentes texto que
                se presentan en la web, com el lema, la mision y vision
                intitucional, entre otras cosas, modificarlas{" "}
                <strong>cuando sea necesario</strong> para mantener con
                información veridicá y de cadlidad.
              </p>
            ) : (
              <p class="text-light font-Rubik text-zinc-800 dark:text-zinc-300 p-4">
                Explora el contenido de la página inicial
              </p>
            )
          }
        </div>
      </section>
      {
        !roles.includes("admin") || roles.includes("moderator") ? (
          <section class="container mx-auto flex flex-col gap-8">
            <ChangeForm
              title="Lema intitucional"
              propiedad="hero-frase"
              lang="es"
              seccion="inicio"
              client:load
            />
            <ChangeForm
              title="Vision de la institucion"
              propiedad="main-vision-text"
              lang="es"
              seccion="inicio"
              client:load
            />
            <ChangeForm
              title="Vision de la institucion"
              propiedad="main-vision-text"
              lang="es"
              seccion="inicio"
              client:load
            />
            <ChangeForm
              title="Mision intitucional"
              propiedad="main-mision-text"
              lang="es"
              seccion="inicio"
              client:load
            />
            <ChangeForm
              title="Seccion de nosotros"
              propiedad="card-info-about"
              lang="es"
              seccion="inicio"
              client:load
            />
            <ChangeForm
              title="Seccion de academicos"
              propiedad="card-info-academics"
              lang="es"
              seccion="inicio"
              client:load
            />
            <ChangeForm
              title="Seccion de contacto"
              propiedad="card-info-contacts"
              lang="es"
              seccion="inicio"
              client:load
            />
            <UploadFileForm title="Subir presentacion" />
          </section>
        ) : (
          <section class="container mx-auto grid grid-cols-1 gap-2">
            <ViewData
              title="Lema institucional"
              propiedad="hero-frase"
              seccion="inicio"
              lang="es"
            />
            <ViewData
              title="Mision"
              propiedad="main-mision-text"
              seccion="inicio"
              lang="es"
            />
            <ViewData
              title="Vision"
              propiedad="main-vision-text"
              seccion="inicio"
              lang="es"
            />
            <ViewData
              title="Información de Sobre Nosostros"
              propiedad="card-info-about"
              seccion="inicio"
              lang="es"
            />
            <ViewData
              title="Información de Academicos"
              propiedad="card-info-academics"
              seccion="inicio"
              lang="es"
            />
            <ViewData
              title="Información de Contacto"
              propiedad="card-info-contacts"
              seccion="inicio"
              lang="es"
            />
            <VideoPlayer url={video}/>
          </section>
        )
      }
    </div>
  </main>
</DashBoardBase>
<style>
  .dashboard {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "aside main";
  }
  @media (max-width: 1024px) {
    .dashboard {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 96px 1fr;
      grid-template-areas:
        "aside"
        "main";
    }
  }
  .boxshadow {
    box-shadow: 0px -20px 10px black;
  }
</style>
