---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";

const imagenUrl = 'https://okdiario.com/img/2021/12/15/ivan-aleksic-pdrfeednick-unsplash11.jpg'

---

<Layout title="Welcome to Astro.">
  <Hero/>
  <main class="h-screen bg-zinc-800">
    <h1>Hola</h1>
  </main>
</Layout>