---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";

const imagenUrl = 'https://okdiario.com/img/2021/12/15/ivan-aleksic-pdrfeednick-unsplash11.jpg'

---

<Layout title="Welcome to Astro.">
  <Header/>
  <main>
    <Hero imagenUrl={imagenUrl}/>
    <img src={imagenUrl} alt="">
  </main>
</Layout>