---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <Header/>
  <main class="h-screen bg-zinc-950">
    <h1>Hola</h1>
  </main>
</Layout>