---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Unidad Educativa Fiscal Pichincha | Web Oficial" icon="/logo.svg">
  <Header/>
  <main class="h-screen bg-zinc-800">
    <h1 class="text-white text-2xl p-4">Hola</h1>
  </main>
</Layout>