---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Fundamentales/Header.astro";
import CardInfo from "./../components/Cards/CardInfo.astro";
import VideoPlayer from "../components/Utils/VideoPlayer.astro";
import VideoYTPlayer from '../components/Utils/VideoYTPlayer.astro'
import Footer from "../components/Fundamentales/Footer.astro";
import {getLangFromUrl,useTranslations} from './../i18n/utils'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title="Unidad Educativa Fiscal Pichincha | Web Oficial" icon="/imgs/UEFPescudoblanco.png">
  <Header/>
  <main class="h-full w-full bg-zinc-50 dark:bg-zinc-800 grid place-content-center gap-y-4">
    <section class="bg-transparent w-full h-full">
      <CardInfo alt="" img="/imgs/programacion.jpeg" title="Mision" text="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English."/>
    <CardInfo alt="" img="/imgs/programacion.jpeg" title="Vision" text="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English."/>
    </section>
    <section class="container mx-auto grid place-content-center w-full">
      <h2 class="text-black dark:text-zinc-100 text-center text-5xl py-4 font-Rubik">{t("main-presentacion")}</h2>
      <VideoPlayer url="/videos/test.mp4"/>
    </section>
    <section class="container mx-auto grid place-content-center h-full w-full">
      <VideoYTPlayer url="https://youtu.be/wL8DVHuWI7Y?list=RDrNZ17DDx0Jg"/>
    </section>
  </main>
<Footer/>
</Layout>