---
interface Props {
  img: string;
  alt: string;
}
const {img,alt} = Astro.props
---
<div class="flex items-center justify-center py-4 lg:p-0">
  <img src={img} alt={alt} class="reveal rounded h-max w-full md:w-2/3 shadow-xl hover:shadow-sky-500/10 transition-all" />
</div>
<script>
  import ScrollReveal from 'scrollreveal'
  ScrollReveal().reveal(".reveal", {
    opacity: 0,
    origin: "bottom",
    distance: "10%",
    reset: true,
    duration: 1000,
  })
</script>
