---
import { FaChevronCircleRight } from "react-icons/fa";

const {title,content,to} = Astro.props
---

<div
  class="card flex-1 basis-96 bg-gradient-to-r from-purple-500 via-red-500 to-yellow-400 p-0.5 shadow-2xl transition-all"
>
  <div class="bg-zinc-100 dark:bg-zinc-950 p-4 h-full w-full">
    <div class="flex items-center gap-x-2">
      <span class="text-2xl md:text-4xl">
        <slot/>
      </span>
      <h3
        class="text-2xl md:text-4xl font-Kanit font-bold bg-clip-text text-transparent bg-gradient-to-tr from-purple-500 via-red-500 to-yellow-400"
      >
        {title}
      </h3>
    </div>
    <div>
      <p class="font-Kanit py-2 text-zinc-800 dark:text-zinc-300 w-[90%]">
        {content}
      </p>
      <a
        href={to}
        class="px-8 py-2 rounded-full bg-zinc-400 dark:bg-zinc-950 hover:bg-zinc-400/50 dark:hover:bg-zinc-950/50 w-max group flex items-center gap-x-1 transition-all"
      >
        <span class="text-medium">Ver más</span>
        <FaChevronCircleRight
          className="text-xs group-hover:translate-x-2 translate-y-0.5 transition-all"
        />
      </a>
    </div>
  </div>
</div>
<style>
  .card {
    background-position: center center;
    background-size: 200% 100%;
    animation: animationBg 5s ease alternate infinite;
  }
  @keyframes animationBg {
    0% {
      background-position: center center;
    }
    50% {
      background-position: right center;
    }
    100% {
      background-position: left center;
    }
  }
</style>