---
import { Diamond } from "./../icons/Icons";
import CardImgReveal from "./CardImgReveal.astro";
interface Props {
  title: string;
  text: string;
  img: string;
}
const { title, text, img} = Astro.props;
---

    <div class="grid grid-cols-1 md:grid-cols-2 container mx-auto font-Rubik p-8">
      <div class="text-white">
        <div class="flex items-center justify-start gap-x-2 border-b-2 w-max pr-8">
          <Diamond height={"16px"} width={"16px"} />
          <h2 class="text-3xl font-light">{title}</h2>
        </div>
        <p class="text-zinc-400 py-2">{text}</p>
      </div>
      <CardImgReveal img={img}/>
    </div>
