---
interface Props {
  img: string
}
const {img} = Astro.props
---
<div class="flex items-center justify-center">
  <img src={img} alt="" class="reveal rounded h-max w-2/3 shadow-xl hover:shadow-sky-500/10 transition-all" />
</div>
<script>
  import ScrollReveal from 'scrollreveal'
  ScrollReveal().reveal(".reveal", {
    opacity: 0,
    origin: "bottom",
    distance: "30%",
    reset: true,
    duration: 1000,
  })
</script>
