---
interface Props {
    to: string,
    text: string
}
const {to , text} = Astro.props
---
<a
  href={`${to}`}
  class="px-4 w-full py-1 flex items-center justify-center gap-x-2 font-Rubik font-light text-black dark:text-white hover:text-zinc-900 dark:hover:text-zinc-500 hover:font-normal transition-all duration-200 ease-out text-center"
>
  {text}
</a>
