---
import FooterLink from "./FooterLink.astro";
---

<footer class="bg-zinc-100 dark:bg-zinc-900 h-max grid grid-col-1 md:grid-cols-2 lg:grid-cols-4 place-content-center w-full">
    <div class="h-full w-full flex flex-col items-center justify-center">
        <a href="/">
        <img src="/imgs/UEFPescudoblanco.png" alt="Escudo de la institucion" class="size-[10em] aspect-square"></a>
    </div>
    <div class="p-4">
        <h3 class="text-3xl font-Rubik font-bold underline decoration-2 decoration-acent-2 text-center">Redes sociales</h3>
        <ul class="flex flex-col py-2 gap-y-2">
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
        </ul>
    </div>
    <div class="p-4">
        <h3 class="text-3xl font-Rubik font-bold underline decoration-2 decoration-acent-2 text-center">Páginas</h3>
        <ul class="flex flex-col py-2 gap-y-2">
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
        </ul>
    </div>
    <div class="p-4">
        <h3 class="text-3xl font-Rubik font-bold underline decoration-2 decoration-acent-2 text-center">Contactos</h3>
        <ul class="flex flex-col py-2 gap-y-2">
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
            <li>
               <FooterLink to="/" text="Inicio"/>
            </li>
        </ul>
    </div>
</footer>