---
import ChangeLanguage from "./ChangeLanguaje";
import FooterLink from "./FooterLink.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import {FaFacebook,FaTiktok,FaHouse,FaUsers,FaGraduationCap,FaNewspaper,FaEnvelope, FaPhone, FaAt} from 'react-icons/fa6'
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<script async>
  // Función para manejar el cambio de clase
  function handleClassChange() {
    const img = document.getElementById("img-logo");
    const htmlElement = document.querySelector("html");
    const classes = htmlElement?.classList;

    if (classes?.contains("dark")) {
      // El tema cambió a oscuro
      if (img instanceof HTMLImageElement) {
        img.src = "/imgs/UEFPescudoblanco.png";
      } else {
        console.error("El elemento no es una imagen");
      }
    } else {
      // El tema cambió a claro
      if (img instanceof HTMLImageElement) {
        img.src = "/imgs/UEFPescudoblack.png";
      } else {
        console.error("El elemento no es una imagen");
      }
    }
  }

  // Observar cambios en la clase del elemento <html>
  document.addEventListener("DOMContentLoaded", () => {
    handleClassChange(); // Llama a la función al cargar la página para establecer el tema inicial
    document.addEventListener("transitionend", handleClassChange); // Observa cambios de clase
  });
</script>
<footer class="bg-zinc-200 dark:bg-zinc-900 h-max w-full py-4">
  <div
    class=" container mx-auto grid grid-col-1 md:grid-cols-2 lg:grid-cols-4 place-content-center"
  >
    <div class="h-full w-full flex flex-col items-center justify-center">
      <a href="/">
        <img
          id="img-logo"
          alt="Escudo de la institucion"
          class="size-[10em] aspect-square"
        /></a
      >
    </div>
    <div class="p-4">
      <h3
        class="text-3xl font-Rubik font-bold underline decoration-2 decoration-acent-2 text-start text-black dark:text-white"
      >
        {t("footer-redes")}
      </h3>
      <ul class="flex flex-col py-2 gap-y-2">
        <li class="flex items-center">
          <FaFacebook className="font-bold text-xl"/>
          <FooterLink target to="https://www.facebook.com/unidadeducativafiscal.pichincha" text={t("footer-redes-facebook")} />
        </li>
        <li class="flex items-center">
          <FaTiktok className="font-bold text-xl"/>
          <FooterLink target to="https://www.tiktok.com/@uef.pichincha" text={t("footer-redes-tiktok")} />
        </li>
      </ul>
    </div>
    <div class="p-4">
      <h3
        class="text-start text-3xl font-Rubik font-bold underline decoration-2 decoration-acent-2 text-black dark:text-white"
      >
        {t("footer-paginas")}
      </h3>
      <ul class="flex flex-col py-2 gap-y-2">
        <li class="flex items-center">
          <FaHouse/>
          <FooterLink to="/" text={t("footer-paginas-inicio")} />
        </li>
        <li class="flex items-center">
          <FaUsers />
          <FooterLink to="about" text={t("footer-paginas-sobrenosotros")} />
        </li>
        <li class="flex items-center">
          <FaGraduationCap />
          <FooterLink to="academics" text={t("footer-paginas-academicos")} />
        </li>
        <li class="flex items-center">
          <FaNewspaper />
          <FooterLink to="news" text={t("footer-paginas-noticias")} />
        </li>
        <li class="flex items-center">
          <FaEnvelope />
          <FooterLink to="contacts" text={t("footer-paginas-contactos")} />
        </li>
      </ul>
    </div>
    <div class="p-4">
      <h3
        class="text-3xl font-Rubik font-bold underline decoration-2 decoration-acent-2 text-start text-black dark:text-white"
      >
        {t("footer-contacto")}
      </h3>
      <ul class="flex flex-col py-2 gap-y-2">
        <li class="text-start font-bold flex gap-2 items-center">
          <FaPhone />
          <p>{t("footer-contacto-telefono")}</p>
        </li>
        <li class="text-start font-bold flex gap-2 items-center">
          <FaAt />
          <p>{t("footer-contacto-email")}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex items-center justify-around p-4">
    <ul class="flex text-black dark:text-white">
      <ChangeLanguage lang={lang}/>
    </ul>
    <div>
      <span class="text-gray-500 text-sm flex items-center">
        <span>© Copyright</span>
      </span>
    </div>
  </div>
</footer>
