---
import Hero from "./Hero.astro";
import NavBar from "./NavBar.jsx";
const url = Astro.url
---

<header
  class="w-full h-max"
>

  <NavBar url={url} client:load/>
  <section>
    <Hero/>
  </section>
</header>
