---
import Hero from "./Hero.astro";
import NavBar from "./NavBar.jsx";
import ThemeIcon from "./ThemeIcon.astro";
const url = Astro.url;
const pathName = Astro.url.pathname;
---

<header class="w-full h-max">
  <NavBar url={url} pathName={pathName} client:load>
     <ThemeIcon />
  </NavBar>
  <section>
    <Hero />
  </section>
</header>
