---
import {getLangFromUrl,useTranslations} from './../i18n/utils'
const lang = getLangFromUrl(Astro.url)
console.log(lang);
const t = useTranslations(lang)

---
<div class="gradient-container bg-radial-gradient-light dark:bg-radial-gradient-dark">
  <div
    class="hero h-full w-full flex flex-col items-center justify-center"
  >
    <h1 class="text-black dark:text-white font-Rubik font-bold text-4xl md:text-6xl text-center animate-slide-in-bottom animate-delay-150 animate-duration-300">
      UNIDAD EDUCATIVA FISCAL <br />
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-yellow-500">PICHINCHA</span>
    </h1>
    <p class="font-Kanit text-black dark:text-white text-xl py-2 animate-fade-in animate-delay-300">{t('hero-frase')}</p>
  </div>
</div>
<style>
  .gradient-container {
    height: calc(100vh - 7em);
    width: 100%;
    background-repeat: no-repeat;
    animation: bg 2s ease forwards;
  }
  @keyframes bg {
    0%{
      background-position: 0px 100vh;
    }
    100% {
      background-position: 0px 0px;
    }
  }
</style>
