<div class="gradient-container">
  <div
    class="hero h-screen w-full flex flex-col items-center justify-center"
  >
    <div class="gradient"></div>
    <h1 class="text-white font-Rubik font-bold text-5xl text-center">
      UNIDAD EDUCATIVA FISCAL <br />
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-yellow-500">PICHINCHA</span>
    </h1>
  </div>
</div>
<style>
  .gradient-container {
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(
      circle closest-corner at 50% 100%,
      #FFC700,
      #FF000077,
      #000000 100%
    );
    background-repeat: no-repeat;
    animation: bg 2s ease forwards;
  }
  @keyframes bg {
    0%{
      background-position: 0px 100vh;
    }
    100% {
      background-position: 0px 0px;
    }
  }
</style>
