---
import { FaBars } from "react-icons/fa";
import NavLinkDocs from "./docs/NavLinkDocs.astro";
import { FaX } from "react-icons/fa6";
---

<header
  class="[grid-area:header] sticky text-sm md:text-base px-2 md:top-0 h-28 w-full bg-zinc-900 flex justify-between items-center"
>
  <div class="h-full w-full flex items-center justify-between gap-x-4 px-8">
    <div class="flex items-center justify-start gap-1">
      <a href="/" class="w-full h-full">
        <img
          class="h-14 w-24 p-0 m-0 sm:h-20 sm:w-fit object-contain"
          src="/imgs/UEFPescudoblanco.png"
          alt="Escudo de la unidad educativa fiscal pichincha"
        />
      </a>
      <h2 class="no-underline text-sm sm:text-2xl">Docs</h2>
    </div>
    <div class="w-full">
      <nav>
        <ul class="list-none flex items-center justify-center gap-x-2 md:gap-x-4">
          <li>
            <a
              href="/es/docs"
              class="bg-zinc-950 text-sm md:text-base px-2 md:px-4 py-1 no-underline rounded hover:shadow-xl hover:bg-zinc-900/50 border border-red-500"
              >Inicio</a
            >
          </li>
          <li>
            <a
              href="/es/tags"
              class="bg-zinc-950 text-sm md:text-base px-2 md:px-4 py-1 no-underline rounded hover:shadow-xl hover:bg-zinc-900/50 border border-red-500"
              >Etiquetas</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="bg-zinc-950 p-1 mr-4 md:mr-8">
    <button id="menu" class="block md:hidden">
      <FaBars className="text-2xl md:text-4xl" />
    </button>
  </div>
</header>
<div id="menu-bar" class="menu-bar transition-all">
  <div class="block md:hidden">
    <button id="menu-close">
      <FaX />
    </button>
    <NavLinkDocs />
  </div>
</div>

<style>
  .menu-bar.isOpen {
    @apply bg-zinc-900 p-4 fixed top-0 right-0 w-1/2 h-[100dvh] md:flex md:h-28 md:w-max translate-x-0 md:items-center;
  }
  .menu-bar {
    @apply bg-zinc-950 fixed top-0 translate-x-full right-0 w-1/2 h-[100dvh] md:flex md:h-28 md:w-max md:items-center;
  }
</style>
<script>
  document.addEventListener("astro:page-load", () => {
    const menu = document.getElementById("menu");
    menu?.addEventListener("click", () => {
      const menuBar = document.getElementById("menu-bar");
      menuBar?.classList.toggle("isOpen");
    });
    const menuClose = document.getElementById("menu-close");
    menuClose?.addEventListener("click", () => {
      const menuBar = document.getElementById("menu-bar");
      menuBar?.classList.toggle("isOpen");
    });
  });
</script>
