---
import "../plyr-3.7.8/src/sass/plyr.scss"
---
<script>
import Plyr from "../plyr-3.7.8/src/js/plyr";


    const player = new Plyr("video")
</script>
<div>
    <h2 class="text-white text-center text-5xl py-4">Video</h2>
    <div class="p-2 bg-zinc-900 shadow-xl">
        <video src="/videos/video.mp4"></video>
    </div>
</div>