---
import "plyr/dist/plyr.css";
interface Props {
  url: string;
  type?: "normal" | "embed";
}
let embedUrl;
const { url, type } = Astro.props;
if (type === "normal") {
  const fragmentUrl = url?.split("?");
  console.log(fragmentUrl);
  const initUrl = fragmentUrl[1];
  console.log(initUrl);
  const parceUrl = initUrl.slice(2)
  console.log(parceUrl);
  embedUrl = `https://www.youtube.com/embed/${parceUrl}`;
  
}
else if (type === "embed") {
  const fragmentUrl = url?.split("?");
  console.log(fragmentUrl);
  const initUrl = fragmentUrl[0];
  console.log(initUrl);
  const parceUrl = initUrl.slice(17);
  console.log(parceUrl);
  embedUrl = `https://www.youtube.com/embed/${parceUrl}`;
}
console.log(embedUrl);
---

<div class="bg-zinc-100 dark:bg-zinc-900 border border-black ark:bg-zinc-900 p-2 container mx-auto my-4"
  <div
  class="aspect-video h-max w-[90vw] md:w-[50vw] p-2 border border-black bg-zinc-100 dark:bg-zinc-900 shadow-xl relative my-4"
>
  <div
    class="plyr__video-embed"
    id="player"
    style="--plyr-color-main: #ff0000;"
  >
    <iframe
      src={`${embedUrl}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1`}
      allowfullscreen
      allowtransparency
      allow="autoplay"
      height="100%"
      width="100%"></iframe>
  </div>
</div>
</div>
<script>
  import Plyr from "plyr";

  const player = new Plyr("#player", {
    controls: [
      "play",
      "progress",
      "current-time",
      "mute",
      "volume",
      "settings",
      "play-large",
      "airplay",
      "fullscreen",
    ],
    keyboard: {focused: true}
  });
</script>
