---
import "plyr/dist/plyr.css";
interface Props {
  url: string;
}
const { url } = Astro.props;
---

<script async is:inline>
  import Plyr from "plyr/dist/plyr.polyfilled.min.mjs";
  const player = new Plyr("player");
  player.volume = 1;
</script>
<div class="aspect-video w-full md:w-[50vw] h-full">
  <div
    class="p-2 bg-zinc-100 border-black border dark:bg-zinc-900 shadow-2xl max-w-full grid place-content-center"
  >
    <video
      id="player"
      src={url}
      controls
      class="aspect-[16/9]"
      style="--plyr-color-main: #ff0000;"></video>
  </div>
</div>
