---
interface Props {
  url: string;
}
const { url } = Astro.props;
import "plyr/dist/plyr.css";
---

<div class="aspect-video w-full md:w-[50vw] h-full">
  <div
    class="p-2 bg-zinc-100 border-black border dark:bg-zinc-900 shadow-2xl max-w-full grid place-content-center"
  >
    <video playsinline controls style="--plyr-color-main: #ff0000;">
      <source src={url} type="video/mp4" />
    </video>
  </div>
</div>

<script>
  import Plyr from "plyr";

  const player = new Plyr("video", {
    controls: [
      "play",
      "progress",
      "current-time",
      "mute",
      "volume",
      "settings",
      "fullscreen",
    ],
    keyboard: {global: true}
  });
</script>
