---
import "dropzone/dist/basic.css";
import "dropzone/dist/dropzone.css";
---

<script src="../../scripts/Dropzone.js"></script>
<div class="text-black dark:text-white">
  <h3 class="py-1">Cambia la presentación:</h3>

  <div class="dropzone bg-stone-100 dark:bg-stone-950">
  </div>
  <div class="flex flex-col">
    <span class="text-sm font-semibold">Solo se permite 1 video</span>
    <span class="text-xs">Puede que tarde en reflejar los cambios</span>
  </div>
</div>
