---
import "dropzone/dist/basic.css"
import "dropzone/dist/dropzone.css"
---
<script src="../../scripts/Dropzone.js"></script>
<div>
  <h2>Hola</h2>
  <form action="" id="upload-zone" class="dropzone">
    <button>Enviar</button>
  </form>
</div>

<script>
  import Dropzone from "dropzone";
  let myDropzone = new Dropzone(".dropzone", {
    url: "/"
  })
  myDropzone.on("addedfile", file => {
    console.log(file);
    console.log(file.name);
  })
</script>
