---
import Navigation from "../../../components/Fundamentales/Navigation.astro";
import ViewGalleryImage from "../../../components/galeria/ViewGalleryImage";
import Footer from "../../../components/Fundamentales/Footer.astro";
import Layout from "../../../layouts/Layout.astro";
import { getLangFromUrl } from "../../../i18n/utils";
import { FaImage, FaTable } from "react-icons/fa";
const lang = getLangFromUrl(Astro.url)
---

<Layout title="Galeria | UEFP" icon="">
  <Navigation />
  <main class="h-full font-Rubik bg-gradient-to-tr from-slate-800 to-slate-900">
    <section class="flex justify-center">
      <h1 class="font-bold py-4 text-5xl lg:text-7xl">Galeria</h1>
    </section>
    <section class="container mx-auto px-8">
      <div class="grid grid-cols-2 gap-2">
        <a href={`/${lang}/galeria/grid`} class="w-full border rounded transition-all  text-white galery-button">
          <FaImage className="text-2xl mx-auto my-4"/>
        </a>
        <a href={`/${lang}/galeria/slider`} class="w-full border rounded transition-all text-white galery-button-active">
          <FaTable className="text-2xl mx-auto my-4"/>
        </a>
      </div>
    </section>
    <section class="my-4">
      <ViewGalleryImage client:load />
    </section>
  </main>
  <Footer />
</Layout>
<style is:global>
  .galery-button-active {
    background-color: #f2f2f2;
    color: black
  }
  .galery-button:hover {
    background-color: #f2f2f2;
    color: black
  }
  .image-gallery-swipe {
    display: grid;
    place-content: center;
    min-height: auto;
    height: 100%;
    width: 100%;
  }
  .image-gallery-swipe img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
</style>
