---
import Navigation from "../../components/Navigation.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sobre nosotros" icon="/imgs/UEFPescudoblanco.png">
    <Navigation/>
    <main class="h-screen">
        h
    </main>
</Layout>