---
import CardInfo from "../../components/CardInfo.astro";
import Navigation from "../../components/Navigation.astro";
import Layout from "../../layouts/Layout.astro";
import SelectOption from "../../components/SelectOption";
import Objectives from "../../components/sections/Objectives";
import { FaPen, FaStar } from "react-icons/fa6";
import Footer from "../../components/Footer.astro";
import { Wave, IlustrationPerson } from "../../icons/Icons";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import InfoTeacher from "../../components/sections/InfoTeacher";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title="Conoce nuestro personal | Informacion inportante"
  description="Descubre y conoce al personal calificado dedicado a brindar educación de calidad"
  keywords="Sobre nosotros, Nuestro Equipo, Preparar estudiantes"
  icon="/imgs/UEFPescudoblanco.png"
>
  <Navigation />
  <main class="h-full bg-zinc-400 dark:bg-zinc-900">
    <section class="h-screen">
      <div class="absolute -bottom-32 w-full">
        <Wave className={"fill-zinc-200 dark:fill-zinc-800"} />
      </div>
      <div
        class="grid lg:grid-cols-2 place-content-center font-Rubik h-full px-8"
      >
        <div class="flex flex-col p-4 gap-y-4 justify-center">
          <h2 class="text-5xl font-bold animate-blurred-fade-in pt-4">
            {t("about-hero-title")}
          </h2>
          <p class="animate-fade-in-up">
            Bienvenidos a la Unidad Educativa Fiscal Pichincha, donde combinamos más de 30 años de experiencia en educación con valores arraigados de excelencia, equidad y responsabilidad. Nuestro compromiso es ofrecer una educación de calidad que prepare a nuestros estudiantes para el futuro, con un equipo capacitado y dedicado a su desarrollo integral.
          </p>
        </div>
        <div class="flex py-12 justify-center items-center h-full">
          <IlustrationPerson />
        </div>
      </div>
    </section>
    <section class="bg-zinc-200 dark:bg-zinc-800 h-max">
      <div class="p-4">
        <h3 class="text-6xl font-Rubik font-bold text-center">
          {t("nuestra-historia-title")}
        </h3>
        <div class="h-full">
          <CardInfo
            text="La Unidad Educativa Fiscal Pichincha tiene sus raíces en la creación de la Escuela Juan Montalvo en 1982. En aquel entonces, esta institución educativa comenzó su labor con el propósito de brindar acceso a la educación primaria a la comunidad local. Con el tiempo, la Escuela Juan Montalvo se convirtió en un pilar fundamental en el desarrollo académico de la región, sentando las bases para una educación de calidad."
            title="Desde los inicios"
            img="/imgs/about (6).jpg"
            alt="Imagen sobre la historia"
          />
          <CardInfo
            text="A medida que las necesidades educativas de la comunidad crecían, surgió la iniciativa de establecer una institución de nivel secundario que pudiera continuar con el legado de excelencia académica de la Escuela Juan Montalvo. Así nació el Colegio Fiscal Pichincha, con el compromiso de ofrecer una educación integral y de calidad que preparara a los estudiantes para los desafíos del futuro."
            title="Consolidación de la educación"
            img="/imgs/about (5).jpg"
            alt="Imagen sobre la consolidación de la educación"
          />

          <CardInfo
            text="Conscientes de la importancia de trabajar de manera coordinada y aprovechar al máximo los recursos disponibles, las autoridades de la Escuela Juan Montalvo y el Colegio Fiscal Pichincha decidieron unir sus esfuerzos para ofrecer una educación aún más completa y enriquecedora. Esta unión no solo permitió optimizar los recursos materiales y humanos, sino que también fortaleció el sentido de comunidad y pertenencia entre estudiantes, docentes y padres de familia."
            title="Unificación de esfuerzos"
            img="/imgs/about (4).jpg"
            alt="Imagen sobre la unificación de esfuerzos"
          />

          <CardInfo
            text="Como resultado de esta colaboración, en los últimos años se creó la Unidad Educativa Fiscal Pichincha, una institución que fusiona lo mejor de la tradición y la innovación educativa. Esta nueva entidad está comprometida con la excelencia académica, el desarrollo integral de los estudiantes y la formación de ciudadanos responsables y comprometidos con su entorno."
            title="Creación de la Unidad Educativa"
            img="/imgs/about (3).jpg"
            alt="Imagen sobre la creación de la Unidad Educativa"
          />

          <CardInfo
            text="La Unidad Educativa Fiscal Pichincha se distingue por su enfoque centrado en el estudiante, que busca potenciar sus habilidades, capacidades y talentos individuales. A través de un currículo diversificado y actividades extracurriculares enriquecedoras, los estudiantes tienen la oportunidad de explorar sus intereses y desarrollar todo su potencial."
            title="Compromiso educativo"
            img="/imgs/about (2).jpg"
            alt="Imagen sobre el compromiso educativo"
          />

          <CardInfo
            text="Conscientes de los desafíos que enfrentan los jóvenes en un mundo en constante cambio, en la Unidad Educativa Fiscal Pichincha nos esforzamos por brindar a nuestros estudiantes las herramientas necesarias para triunfar en el ámbito académico, profesional y personal. Nuestra meta es formar ciudadanos íntegros, críticos y comprometidos con la construcción de una sociedad más justa y equitativa."
            title="Preparación para el futuro"
            img="/imgs/about (1).jpg"
            alt="Imagen sobre la preparación para el futuro"
          />
        </div>
      </div>
      <div
        class="absolute bottom-0 bg-white/20 h-96 w-96 rounded-full blur-3xl"
      >
      </div>
    </section>
    <section class="relative bg-zinc-200 dark:bg-zinc-800 pt-10">
      <div
        class="absolute right-0 bottom-0 bg-yellow-400/10 h-96 w-96 rounded-full blur-3xl"
      >
      </div>
      <div class="w-full">
        <h3 class="font-Rubik text-5xl text-center font-bold py-4">
          {t("valores-title")}
        </h3>
      </div>
      <div class="h-full py-8 bg-black/10 p-8">
        <SelectOption lang={lang} client:load />
      </div>
    </section>
    <section class="relative bg-zinc-200 dark:bg-zinc-800 pt-10">
      <div class="w-full">
        <h3 class="font-Rubik text-5xl text-center font-bold py-4">
          {t("objectivos-title")}
        </h3>
      </div>
      <div class="h-full py-8 bg-black/10 p-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <Objectives
            title={"Ejercer estudiantes"}
            text={"Preparar estudiantes para que tenga las aptitudes adecuadas para el mundo laboral"}
            color={"purple"}
            client:load
          >
            <FaPen />
          </Objectives>
          <Objectives
            title={"Mejorar estudiantes"}
            text={"Preparar estudiantes para que tenga las aptitudes adecuadas para el mundo laboral"}
            color={"green"}
            client:load
          >
            <FaStar />
          </Objectives>
          <Objectives
            title={"Estudios de calidad"}
            text={"Preparar estudiantes para que tenga las aptitudes adecuadas para el mundo laboral"}
            color={"red"}
            client:load
          >
            <FaPen />
          </Objectives>
        </div>
      </div>
      <div class="w-full">
        <h3 class="font-Rubik text-5xl text-center font-bold py-4">
          {t("nuestro-equipo-title")}
        </h3>
      </div>
      <div class="h-full py-8 bg-black/10 p-8">
        <InfoTeacher lang={"Es"} client:load />
      </div>
    </section>
  </main>
  <Footer />
</Layout>
