---
import { Button, Input, Textarea } from "@nextui-org/react";
import Navigation from "../../components/Navigation.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import { ContactIlustration } from "../../icons/Icons";
import ContacsForm from "../../components/sections/ContacsForm";
const url = Astro.url;
const urlStr = url.toString();
---

<Layout title="Contactos" icon="/imgs/UEFPescudoblanco.png">
  <Navigation />
  <main class="bg-zinc-100 contact dark:bg-black h-full w-full">
    <h1 class="text-4xl font-bold font-Rubik text-center py-4">Contactanos!</h1>
    <section
      class="container mx-auto grid-cols-1 md:grid-cols-2 grid place-content-center p-4"
    >
      <div
        class="text-black dark:text-white rounded p-4 h-max w-full bg-zinc-100/50 dark:bg-zinc-900/10 backdrop-blur-xl"
      >
        <ContacsForm url={url} urlStr={urlStr} client:load/>
      </div>
      <div class="grid place-content-center h-max w-full">
        <img
          src="/imgs/Email.png"
          alt=""
          class="h-72 w-full object-cover aspect-auto animate-pulse animate-iteration-count-infinite"
        />
      </div>
    </section>
  </main>
  <Footer />
</Layout>
