---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import CardInfo from "../../components/CardInfo.astro";
import VideoPlayer from "../../components/VideoPlayer.astro";
import IndexMeta from "./../../meta/IndexMeta.astro";
import Footer from "../../components/Footer.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { Diamond } from "../../icons/Icons";
import VideoYTPlayer from "../../components/VideoYTPlayer.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title="Página Oficial de la Unidad Educativa Fiscal Pichincha"
  icon="/public/imgs/UEFPescudoblanco.png"
  keywords="unidad educativa fiscal pichincha,Unidad Educativa Fiscal Pichincha, página oficial, educación, UEFP"
  description="Pagina de inicio de la Unidad Educativa Fiscal Pichincha"
>
  <Header />
  <IndexMeta slot="opengraph" />
  <main
    class="h-full w-full bg-zinc-50 dark:bg-zinc-800 grid place-content-center gap-y-4"
  >
    <section class="bg-transparent w-full h-full">
      <h2
        class="text-black mt-4 dark:text-zinc-100 text-center text-4xl md:text-5xl py-2 font-Rubik"
      >
      Nuestro Compromiso: Misión y Visión
      </h2>
      <div
        class="h-1 mx-auto w-full lg:w-2/3 bg-gradient-to-l from-red-500 via-orange-500 to-yellow-500 mb-4 shadow shadow-orange-500/50"
      >
      </div>
      <CardInfo
        img="/imgs/libroIndex1.jpg"
        title={t("main-mision")}
        text={t("main-mision-text")}
        alt="Imagen referente a la mision"
      >
        <Diamond height={"16px"} width={"16px"} />
      </CardInfo>
      <CardInfo
        img="/imgs/personaIndex1.jpg"
        title={t("main-vision")}
        text={t("main-vision-text")}
        alt="Imagen referente a la vision"
      >
        <Diamond height={"16px"} width={"16px"} /></CardInfo
      >
    </section>
    <section class="container mx-auto grid place-content-center w-full my-4">
      <h2
        class="text-black dark:text-zinc-100 text-center text-5xl py-2 font-Rubik"
      >
        {t("main-presentacion")}
      </h2>
      <div
        class="h-1 w-full bg-gradient-to-l from-red-500 via-orange-500 to-yellow-500 mb-4"
      >
      </div>
      <VideoPlayer url="/videos/test.mp4"/>
      <VideoYTPlayer type="normal" url="https://www.youtube.com/watch?v=ipii7KbbJLY"/>
      <VideoPlayer vertical url="/videos/mine1.mp4"/>
    </section>
    <section>
      <h2
        class="text-black dark:text-zinc-100 text-center text-5xl py-2 font-Rubik"
      >
        {t("main-presentacion")}
      </h2>
      <div
        class="h-1 w-full bg-gradient-to-l from-red-500 via-orange-500 to-yellow-500 mb-4"
      >
      </div>
    </section>
  </main>
  <Footer />
</Layout>
