---
import Navigation from "../../components/Fundamentales/Navigation.astro";
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl } from "../../i18n/utils";
import Footer from "../../components/Fundamentales/Footer.astro";
import SignForm from "../../components/sections/SignForm.jsx";
import { FaGoogle } from "react-icons/fa";
const lang = getLangFromUrl(Astro.url);
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect(`/${lang}/dashboard`);
}
---

<Layout
  title="Inicia secion | Con tu correo"
  description="Image referring to logging in"
  keywords="iniciar sesion uefp, uefp login, uefp iniciar sesion"
  openGraph={{
    basic: {
      title: "Imagen referente al iniciar sesion",
      type: "website",
      image: "https://i.postimg.cc/766C0V1z/inicia-sesion.png",
      url: Astro.url.href
    }
  }}
>
  <Navigation />
  <main
    class="w-full h-full bg-zinc-100 dark:bg-zinc-800 px-4 py-12 grid grid-cols-1 lg:grid-cols-2"
  >
    <section
      class="bg-zinc-200 dark:bg-zinc-950/40 backdrop-blur-2xl p-8 w-full container mx-auto shadow-xl"
    >
      <div class="relative flex flex-col justify-center font-Rubik gap-y-4">
        <div
          class="h-24 w-72 bg-red-500/20 absolute rounded-full blur-xl -top-5 z-10 animate-pulse-fade-in animate-iteration-count-infinite animate-duration-1000 animate-direction-alternate-reverse"
        >
        </div>
        <h1 class="text-5xl font-bold animate-blurred-fade-in">
          Inicia Sesion
        </h1>
        <div
          class="h-1 my-2 w-1/2 bg-gradient-to-r from-purple-500 via-red-500 to-orange-400 rounded-full"
        >
        </div>
        <p class="py-1">¿Aun no tienes una cuenta?</p>
        <a
          href=`/${lang}/register`
          class="text-white-200 w-max px-4 py-1 rounded-full bg-transparent bg-gradient-to-br from-purple-500 via-red-500 to-orange-400"
          >Registrate</a
        >
        <SignForm lang={lang} navigate={redirect} client:load />
      </div>
    </section>
    <section class="hidden lg:grid lg:place-content-center">
      <div>
        <img src="/svg/programer.svg" alt="Chica programadora SVG" />
      </div>
    </section>
  </main>
  <Footer />
</Layout>
