---
import Navigation from "../../components/Navigation.astro";
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl } from "../../i18n/utils";
import Footer from "../../components/Footer.astro";
import SignForm from './../../components/sections/SignForm'
const lang = getLangFromUrl(Astro.url)
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect(`/${lang}/dashboard`);
}
---

<Layout title="Inicia secion | Con tu correo" icon="">
  <Navigation />
  <main class="w-full h-full bg-zinc-100 dark:bg-zinc-800 py-12">
    <section
      class="bg-zinc-200 dark:bg-zinc-950/40 backdrop-blur-2xl p-8 w-[90vw] lg:w-1/2 container mx-auto shadow-xl"
    >
      <div class="relative flex flex-col justify-center font-Rubik gap-y-4">
        <div class="h-24 w-72 bg-cyan-500/20 absolute rounded-full blur-xl -top-5 z-10 animate-pulse-fade-in animate-iteration-count-infinite animate-duration-1000 animate-direction-alternate-reverse"></div>
        <h1 class="text-5xl font-bold">Inicia Sesion</h1>
        <div
          class="h-1 my-2 w-1/2 bg-gradient-to-r from-blue-500 via-cyan-500 to-sky-400 rounded-full"
        >
        </div>
        <p class="py-1">
          ¿Aun no tienes una cuenta? <a
            href=`/${lang}/register`
            class="underline text-cyan-500">Registrate</a
          >
        </p>
        <SignForm lang={lang} navigate={redirect} client:load/>
      </div>
    </section>
  </main>
  <Footer />
</Layout>