---
import "plyr/dist/plyr.css";
interface Props {
  url: string;
  vertical?: Boolean;
  thin?: Boolean,
}
const { url, vertical, thin = true } = Astro.props;
---
{
  !vertical ? (
    <div class={`${!thin ? "w-full" : "w-full lg:w-2/3"} h-full mx-auto`}>
      <div class="p-2 bg-zinc-100 border-black border dark:bg-zinc-900 shadow-2xl h-full w-full grid place-content-center">
        <video playsinline controls style="--plyr-color-main: #ff0000;">
          <source src={url} type="video/mp4" />
        </video>
      </div>
    </div>
  ) : (
    <div class="w-full h-full">
      <div class="bg-zinc-100 border-black border dark:bg-zinc-900 mx-auto p-2 aspect-[9/16] max-h-[38em]">
        <video
          id="vertical"
          playsinline
          controls
          style="--plyr-color-main: #ff0000;object-fit:contain;height:100%"
        >
          <source src={url} type="video/mp4" />
        </video>
      </div>
    </div>
  )
}
<script src="../../scripts/Videoplayer.js"></script>